/* Trackers Detective - Detect third party domains while you surf the web.
 * Copyright (C) 2015  Costas Iordanou - costasjordanou@gmail.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 */

body { /* The size of the popup window */
  width: 240px;
  height: 135px;
}

#logo { /* Fix size for the plugin logo */
  float: left;
  width: 45px;
  height: 45px;
}

#trackers { /* center text inside the trackers div */
  text-align: center;
}
#trackers, td { /* add spaces at each table row and the text inside */
  padding: 5px;
}

#trackers, table { /* style the trackers table */
  border-collapse: collapse; /* skip double lines between rows */
  width: 90%; /* expand the table at 90% of the window */
  margin: auto; /* allow the table to be centered within the window */
}